@import "tailwindcss";
body{
    box-sizing: border-box;
    margin: 0;
}
main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
    
}
li{
    margin-bottom: 20px;
}
.top>li>h1{

    color:#1f1f1f;
    font-size:xx-larger;
    font-size: larger;
    text-align: center;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
}

.read{
    color: red;
    border: 1px solid black;
}
.top{
  
 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
    overflow-y:scroll;
    background-color: black;
}
.top >li{
    background-color: white;
    max-width: 100%;
    padding: 20px;
    margin: 10px auto 0;
    width: 80vw;
    border: 1px solid;
    border-radius: 20;
    
    
    
}
.author{
    text-align: center;
}
footer{
    background-color: white;
        color: #1f1f1f;
    position: relative;
    bottom: 0px;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    height: 5vh;
    width: 100vw;
    }
    .categories{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        flex-wrap: wrap;
    }
    .categories>li{
        padding: 10px;
        margin: 0;
        background-color: white;
        color: red;
        text-align: center;
        font-size: small;
        font-family: sans-serif;
        font-weight: bolder;
        
    }
    @media (width <= 400px){

        .categories{
            flex-direction: column;
            font-size: x-small;
            

        }
        .categories>li:hover{
            background-color: black;
        }
    }
    .newshead{
        background-color: #1f1f1f;
        color: red;
        text-align: center;
        letter-spacing: 1.5;
        height: 50px;
    }
    .categories>li:hover{
            background-color: black;
        }