@import "tailwindcss";
body{
    box-sizing: border-box;
    margin: 0;
}

.top>li>h1{

    color:#1f1f1f;
    font-size:xx-larger;
    font-size: larger;
    text-align: center;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
}

.read{
    color: red;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.top{
  
 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
    
}
.top >li{
    background-color: white;
    
    padding: 20px;
    margin: auto auto;
  width: 90vw;
  height: auto;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    
    
    
    
}
.author{
    text-align: center;
}
footer{
    background-color: #1f1f1f;
        color: white;
    position: fixed;
    bottom: 0px;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    height: 5vh;
    width: 100vw;
    }
    .categories{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        flex-wrap: wrap;
    }
    .categories>li{
        padding: 10px;
        margin: 0;
        background-color: white;
        color: red;
        text-align: center;
        font-size: small;
        font-family: sans-serif;
        font-weight: bolder;
        
    }
    @media (width <= 400px){

        .categories{
            flex-direction: column;
            font-size: x-small;
            

        }
        .categories>li:hover{
            background-color: black;
        }
                .message{
            line-height: 0.5;
            font-size: normal;
            letter-spacing: 0.5;
            font-style: italic;
            
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .newshead{
        background-color: white;
        color: red;
        text-align: center;
        letter-spacing: 1.5;
        height: 50px;
        padding: 10px;
    }
    .categories>li:hover{
            background-color: black;
        }
        .message{
            line-height: 1.5;
            font-size: 1.6rem;
            letter-spacing: 1.5;
            font-style: italic;
            
            font-family: Arial, Helvetica, sans-serif;
        }
        