@import "tailwindcss";



.pop{
    display: flex;
    background: linear-gradient(grey, whitesmoke);
    min-height: 100vh;
    align-content: center;
    justify-items:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.611em;
overflow-x: auto;
}
table{
    margin-left: auto;
    margin-right: auto;
    position:relative;
    min-width: 600px;
}
td,tr,th{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding:1.2rem;
}
thead{
background-color: white;
}
tbody{
    background-color: darkslateblue;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}