@import "tailwindcss";

.pop{
    display: ;
}
table, td, tr{
border: 1px solid black;
border-collapse: collapse;

}
td{
    text-align: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
th, td{
  text-align: left;
  padding: 5px;
}

tr:hover{
    background-color: orange;
}
th{
    background-color:coral;
}

.pop {
  margin: auto;
  width: 75%;
  padding: 10px;
  
}
table{
    border-radius: 25%;
}
